div * {border: none;}

/*div h2 {
    margin: 0 0 1rem 0;
}*/

/*article {
    margin: 0 0 1rem 0; 
}*/

article h3, article p {
    padding: .5rem;
    margin: 0;
}

/*.alap {background-color: lightgray;}*/

.alap h3 {
    background-color: #0881A3;
    color: white;
}

.begin img {display: none;}

.begin h2 {color:#0881A3;}

.begin button {
    margin-left: auto;
}

/*#kep p {background-color: lightyellow;}*/

#kep h3 {
    background-color: blue;
    color: white;
}

/*#raszt p {background-color: lightgreen;}*/

#raszt h3 {
    background-color: green;
    color: white;
}

/*#vekt p {
    background-color: lightblue;}*/

#vekt h3 {
    background-color:brown;
    color: white;
}

/*#vekt3d p {background-color: lightblue;}*/

#vekt3d h3 {
    background-color:darkcyan;
    color: white;
}

/*#game p {background-color: lightpink}*/

#game h3 {
    background-color:crimson;
    color: white;
}

/*#film p {background-color: #CBC3E3;}*/

#film h3 {
    background-color: purple;
    color: white;
}

@media(min-width:1081px){
    h2 {padding-left: 10%;}
    .begin {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .begin img {display: inline; width: 100%;}
    /*.alap{margin-right: 1rem;}*/

    article {
        border-left: 1px solid;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
}