.fulszoveg p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 1rem;
}

#bemutat div {background-color: #F5FFFA;}

#bemutat a:hover {
    text-decoration: none;
}

.bal img, .jobb img {display: none;}

button {
    background-color: orange;
    border: 1px solid orange;
    padding: 0;
    display: block;
    margin-left: 2rem;
}

button a {
    display: block;
    color: white;
    padding: .5rem;
}

button:hover {
    background-color: white;
    border: 1px solid orange;
}

button a:hover {
    text-decoration: none;
    color: orange;
    
}

@media(min-width:1081px){
    .fulszoveg {
        display: grid;
        grid-template-columns: 50% 50%;

        background-image: url("ai-generated-8602502_1920.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: right;
    }
    .fulszoveg p {
        padding: 1rem 2rem;
        background-color: rgba(239, 62, 54, .2);
        color: white;
        margin: 0;
    }

    .bal h1, .jobb h1 {margin-left:2rem;}
    .bal {
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 2rem 0;
    }

    .jobb {
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 2rem 0;
    }

    .jobb img {
        display: inline;
        width:100%;
        border-radius: 50%;
    }
    .jobb p {
        padding: 2rem;
        border-top: 1px solid;
        /*border-left: 1px solid;*/
    }
    
    .bal img {
        display: inline;
        width:100%;
        border-radius: 50%;
    }
    .bal p {
        padding: 2rem;
        border-top: 1px solid;
        border-right: 1px solid;
    }
}