.fulszoveg p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    padding: 0 1rem;
}

#bemutat div {background-color: #F5FFFA;}

#bemutat a:hover {
    text-decoration: none;
}

.baljobb {display: block;}
.baljobb aside {display: none;}
#szurke {color: grey;}
#sarga {color: orange;}
#lila {color:blueviolet;}
#zold {color: green;}
#piros {color:crimson;}
#citrom {color:yellowgreen;}

.bal img, .jobb img {display: none;}

button {
    background-color: orange;
    border: 1px solid orange;
    padding: 0;
    display: block;
    margin-left: 2rem;
}

button a {
    display: block;
    color: white;
    padding: .5rem;
}

button:hover {
    background-color: white;
    border: 1px solid orange;
}

button a:hover {
    text-decoration: none;
    color: orange;
    
}

@media(min-width:1081px){
    .fulszoveg {
        display: grid;
        grid-template-columns: 50% 50%;

        background-image: url("laptop-5673901_1920.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    .fulszoveg p {
        padding: 1rem 2rem;
        background-color: rgba(255, 255, 255, .8);
        margin: 0;
    }

    main {
        display: block;
    }

    .baljobb {
        display: grid;
        grid-template-columns: 20% 80%;
        padding: 0;
        margin: 2rem 0;
    }
    .baljobb aside {
        display: block;
        font-weight: bold;
    }

    .bal h1, .jobb h1 {margin-left:2rem;}
    .bal {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .jobb {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .jobb img {
        display: inline;
        width:100%;
        border-radius: 50%;
    }
    .jobb p {
        padding: 2rem;
        border-top: 1px solid;
        border-left: 1px solid;
    }
    
    .bal img {
        display: inline;
        width:100%;
        border-radius: 50%;
    }
    .bal p {
        padding: 2rem;
        border-top: 1px solid;
        border-right: 1px solid;
    }
}