#cim {
    background-color: rgba(255,255,255,.8);
    color: black;
    padding: 1em;
    text-align:center;
    border-bottom: 1px dotted;
}

#cim h1 {
    margin:1em;
    font-family: 'Inter', sans-serif;
}

#cim h2 {
    margin: 1em 0;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

#cim p {
    text-align: justify;
}

main h1 {
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,0,0,.8), rgba(255,255,255,0));
    padding: .5em;
    text-align: center;
    margin: 0;
    color: white;
    /*font-weight: bold;*/
    font-family: 'Inter', sans-serif;
}

aside {
    background-color: rgba(255,255,255,.8);
    padding: 0 1em 1em 1em;
    border-right:1px dotted;
}

aside h1, aside h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

aside h2 {
    /*font-size: 1.2em;*/
    padding: .5em;
}

aside ol, aside p {
    line-height: 1.8em;
    margin: 0 0 0 1em;
}

article {
    background-color: rgba(255,255,255,.8);
}

article h2 {
    background-image: linear-gradient(to right, rgba(255,255,255,0), white, rgba(255,255,255,0));
    padding: .5em;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

aside, article {border-bottom: 1px dotted;}

aside a, article a {
    display: block;
    text-decoration: none;
    color: red;
}

aside a:hover {text-decoration:underline;}

article a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 1em;
}

article a:hover {
    /*background-image: linear-gradient(to right, white, rgba(255,0,0,.8));*/
    background-color: white;
    color: black;
}

@media (min-width:768px){
    section {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}