body {
    font-family: Arial, sans-serif;
    background-image:url('creative.jpg');
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to bottom right, red, rgba(255,255,255,.8));
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 2em 10px;
}

header h1 {
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
}

header a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    color: white;
    display: inline;
}

header a:hover {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    color: orange;
    transition: 0.3s;
}

header h2 {
    font-family: 'Inter', sans-serif;
    letter-spacing: 10px;
    margin-right: -10px;
}

nav {
    text-align: center;
    background-image: linear-gradient(to top, white, rgba(255,255,255,.5));
}

nav a {
    text-decoration: none;
    /*background-image: linear-gradient(to right, red, rgba(255,255,255,.8));*/
    color: black;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 1em 0;
    width: 10em;
    border-bottom: 5px solid transparent;
}

nav a:hover {
    background-image: linear-gradient(to bottom, white, rgba(255,255,255,.5));
    color: red;
    border-bottom: 5px solid orange;
}

nav img {display: none;}

#header{
    position: sticky;
    top: 0;
}

@media (min-width: 768px){
    body {
        width: 80%;
        margin: auto;
    }

    header h1 {
        font-size: 4em;
    }

    header h2 {
        letter-spacing: 30px;
        margin-right: -30px;
    }
}