body {
    font-family: Arial, sans-serif;
    background-image:url('25328kicsi.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    /*background-image: linear-gradient(to bottom right, red, rgba(255,255,255,.8));*/
    background-image: linear-gradient(to bottom right, red,  rgb(195,7,63));
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
}

header h1 {
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
}

header a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    color: white;
    display: inline;
}

header a:hover {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    color: orange;
    transition: 0.3s;
}

header h2 {
    font-family: 'Inter', sans-serif;
    letter-spacing: 10px;
    margin-right: -10px;
}

nav {
    text-align: center;
    /*background-image: linear-gradient(to top, white, rgba(255,255,255,.5));*/
    background-color: rgba(26,26,29,.8);
    border-bottom: 1px solid white;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

nav a {
    text-decoration: none;
    /*background-image: linear-gradient(to right, red, rgba(255,255,255,.8));*/
    font-weight: bold;
    color: white;
    /*display: inline-block;*/
    text-align: center;
}

nav a:hover {
    color: red;
}

/* ======== DROPDOWN MENÜ BEGIN ======== */
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
  }

  .dropdown-content a {
    display: block;
    background-color: rgb(26,26,29);
    font-weight: normal;
    border-bottom: 1px dotted white;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {display: block;}
/* ======== DROPDOWN MENÜ END ======== */

#header{
    position: sticky;
    top: 0;
}

footer {
    background-color: rgba(195,7,63,.8);
    padding: 1rem;
}
footer img {
    display: block;
    width: 7rem;
    margin: auto;
}

footer p {
    color: white;
    text-align:center;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;
}

footer a {
    text-decoration: none;
    font-size: 80%;
    color: yellow;
}

footer a:hover {
    color: white;
    transition: .5s;
}

@media (min-width: 768px){
    body {
        width: 80%;
        margin: auto;
        background-image:url('25328.jpg');
        background-size: 100%;
        background-attachment: fixed;
    }

    header {
        padding: 2em 10px;
    }

    header h1 {
        font-size: 4em;
    }

    header h2 {
        letter-spacing: 30px;
        margin-right: -30px;
    }

    nav {
        display: block;
        grid-template-columns:none;
    }

    nav a {
        padding: 1em 0;
        width: 8em;
        display: inline-block;
    }
}