body {
    background-image:url('circuitkicsi.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

.cim {
    /*background-color: rgba(255,255,255,.8);*/
    /*background-color: #FF9B6A;*/
    background: white;
    padding: 3rem;
    text-align:center;
}

.cim h1 {
    margin:1rem;
    font-family: 'Inter', sans-serif;
}

.cim h2 {
    margin: 1rem 0;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.cim p {
    text-align: justify;
}


section {
    position: relative;
    display: block;
    text-align: center;
    /*margin: .2em;*/
    /*color: white;*/
}

.sarga {
    background: #FF5151;
    color: black;
}

.coral {
    background: #FF9B6A;
    color: white;
}
.blue {
    background: #191970;
    color: white;
}
.cyan {
    background: cyan;
    color: black;
}
.white {
    background: white;
    color: black;
}


section a {
    display: block;
    padding: 5em 0;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

section a:hover {
    background-color: /*#FF5151;*/ #FF9B6A;
    color: black;
}

.fekete {
    color: black;
}


#elm {
    background-image: url('circuit-5315089_640.jpg');
    background-size:cover;
    background-position:center;
}

#ai {
    background-image: url('cyber-brain-7633488_640.jpg');
    background-size:cover;
    background-position:center;
}

#pc {
    background-image: url('laptop-5673901_640.jpg');
    background-size:cover;
    background-position:center;
}

#robot {
    background-image: url('industry-2692640_640.jpg');
    background-size:cover;
    background-position:center;
}

#vizsgak {
    background-image: url('globe-8704013_1280.jpg');
    background-size:cover;
    background-position:center;
}

#aiwoman {
    background-image: url('artificial-intelligence-2167835_640.jpg');
    background-size:cover;
    background-position:center;
}


@media (min-width:1081px){
    body {
        background-image:url('circuit.jpg');
        background-size: 100%;
        background-attachment: fixed;
    }
    main {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}