main {
    background-color: rgba(255,255,255,.8);
}

main h1 {
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 1em 0;
    color: black;
}

main h3 {
    color: black;
    background-image: linear-gradient(to right, white, red);
    padding: 1em;
    font-family: 'Inter', sans-serif;
    font-variant: small-caps;
}

main a {
    text-decoration: none;
    color: red;
}
main a:hover {
    background-color: orange;
    color: white;
}

main p, ul, ol {
    text-align: justify;
    color: rgb(0,12,51);
    padding: 1em; /*ez azért kell, mert különben kis méretnél a bekezdésben lévő szöveg sem kap paddinget!*/
}

main li {
    line-height: 2em;
    margin-left: 2em;
}

main iframe {
    display: block;
    margin: auto;
}

/* NYITÓOLDAL PROJEKTEK LINKJEI BEGIN */

main article {
    margin: 1em auto;
    width: 80%;
    border-radius: 25px;
}

main article a {
    font-weight: bold;
    display: block;
    padding: 1em 2em;
    color: black;
    border: 3px solid black;
    border-radius: 25px;
}

main article a:hover {
    border: 3px solid orange;
    background: rgba(255,255,255,.5);
    color: black;
}

/* NYITÓOLDAL PROJEKTEK LINKJEI END */